/*table, tr,td { 
	border: 1;
	padding: 2px;
	
}
*/
body  {
    background-color: lightblue;
}
/*
h1  {
	font-style: italic;
	text-align: center;
	font-weight: normal;
	font-size: 30px;
	color: blue;
	background-color:yellow;
	padding: 10px 30px ;
	border-style: solid;
	
}

.btn:hover  {
	color:#0000ff;
}

#tabledata  {
	font-family: calibre;
	font-weight: bold;
	color: blue;
	text-align:left;
	
	
}
*/